/* ----------------------------------------------------------------
    Colors
-----------------------------------------------------------------*/


a,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
#top-menu li a:hover,
#lp-contacts li span,
#portfolio-filter li a:hover,
#portfolio-filter li.activeFilter a,
.portfolio-item:hover h3 a,
.entry_date div.post-icon,
.entry_meta li a:hover,
.ipost .ipost-title a:hover,
.comment-content .comment-author a:hover,
.promo h3 > span,
.error-404,
.tab_widget ul.tabs li.active a,
.product-feature3:hover span,
.team-skills li span,
.best-price .pricing-title h4,
.best-price .pricing-price { color: #2780AF; }

.pricing-style2 .pricing-price { color: #FFF !important; }


/* ----------------------------------------------------------------
    Background Colors
-----------------------------------------------------------------*/


#top-menu li.top-menu-em a,
#primary-menu > ul > li:hover,
#primary-menu ul li.current,
#primary-menu ul ul li,
.lp-subscribe input[type="submit"],
.portfolio-overlay,
#portfolio-navigation a:hover,
.entry_date div.month,
.entry_date div.day,
.sidenav > .active > a,
.sidenav > .active > a:hover,
.promo-action a:hover,
.error-404-meta input[type="submit"],
.product-feature img,
.product-feature > span,
.team-image span,
.icon-rounded:hover,
.icon-circled:hover,
.simple-button.inverse,
.simple-button:hover,
.pricing-style2 .best-price .pricing-price,
#twitter-panel,
#gotoTop:hover,
a.twitter-follow-me:hover,
#footer.footer-dark a.twitter-follow-me:hover,
.sposts-list .spost-image:hover,
#footer.footer-dark .sposts-list .spost-image:hover,
.tagcloud a:hover,
#footer.footer-dark .tagcloud a:hover,
.widget-scroll-prev:hover,
.widget-scroll-next:hover,
#footer.footer-dark .widget-scroll-prev,
#footer.footer-dark .widget-scroll-next { background-color: #2780AF; }

.ei-title h2 span,
.ei-title h3 span,
.ei-slider-thumbs li.ei-slider-element,
.flex-prev:hover,
.flex-next:hover,
.rs-prev:hover,
.rs-next:hover,
.nivo-prevNav:hover,
.nivo-nextNav:hover,
.camera_prev:hover,
.camera_next:hover,
.camera_commands:hover,
.tp-leftarrow.large:hover,
.tp-rightarrow.large:hover,
.ls-noskin .ls-nav-prev:hover,
.ls-noskin .ls-nav-next:hover { background-color: #2780AF !important; }

.ei-title h3 span { background-color: rgba(11,11,11,0.8) !important; }


/* ----------------------------------------------------------------
    Border Colors
-----------------------------------------------------------------*/


#top-menu li a:hover,
.comment-content .comment-author a:hover,
.our-clients li:hover { border-color: #2780AF; }


.flex-control-thumbs li img.flex-active,
.rs-thumb-wrap a.active,
.tab_widget ul.tabs li.active,
#footer,
#copyrights { border-top-color: #2780AF; }


span.page-divider span,
#portfolio-filter li.activeFilter,
.portfolio-item:hover .portfolio-title,
#footer.footer-dark .portfolio-item:hover .portfolio-title { border-bottom-color: #2780AF; }


.slide-caption,
.rs-caption,
.nivo-caption,
.promo,
.side-tabs ul.tabs li.active { border-left-color: #2780AF; }

.ei-title h3 span { border-left-color: #2780AF !important; }


/* ----------------------------------------------------------------
    Selection Colors
-----------------------------------------------------------------*/


::selection,
::-moz-selection,
::-webkit-selection { background-color: #2780AF; }