.ei-slider {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 400px;
  margin: 0 auto;
}

.ei-slider-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
  background: transparent url("../images/preloader.gif") no-repeat center center;
  color: #fff;
  text-align: center;
  line-height: 400px;
}

.ei-slider-large {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.ei-slider-large li {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.ei-slider-large li img {
  width: 100%;
}

.ei-title {
  position: absolute;
  right: 50%;
  margin-right: 13%;
  top: 30%;
  max-width: 300px;
}

.ei-title h2, .ei-title h3 {
  text-align: right;
  display: block;
  position: relative;
}

.ei-title h2,
.ei-title h3 {
  display: block;
  position: relative;
  padding: 0;
}

.ei-title h2 span,
.ei-title h3 span {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  background-color: #57B3DF;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ei-title h3 span {
  font-size: 13px;
  line-height: 20px;
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  background-color: rgba(11, 11, 11, 0.8) !important;
  border-left: 3px solid #57B3DF;
}

.ei-slider-thumbs {
  height: 7px;
  margin: 0 auto;
  position: relative;
}

.ei-slider-thumbs li {
  position: relative;
  float: left;
  height: 100%;
  z-index: 14;
}

.ei-slider-thumbs li.ei-slider-element {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
  z-index: 15;
  text-indent: -9000px;
  background: #57B3DF;
}

.ei-slider-thumbs li a {
  display: block;
  text-indent: -9000px;
  background: #CCC;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.ei-slider-thumbs li a:hover {
  background-color: #f0f0f0;
}

.ei-slider-thumbs li img {
  position: absolute;
  bottom: 50px;
  opacity: 0;
  z-index: 16;
  max-width: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.3)));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.ei-slider-thumbs li:hover img {
  opacity: 1;
  bottom: 7px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
