{#
/**
 * @file
 * shaft's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Navigation:
 * - main_menu: The Main menu links for the site, if they have been configured.
 * - secondary_menu: The Secondary menu links for the site, if they have been
 *   configured.
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - feed_icons: All feed icons for the current page.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.featured: Items for the featured region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.triptych_first: Items for the first triptych.
 * - page.triptych_middle: Items for the middle triptych.
 * - page.triptych_last: Items for the last triptych.
 * - page.footer_firstcolumn: Items for the first footer column.
 * - page.footer_secondcolumn: Items for the second footer column.
 * - page.footer_thirdcolumn: Items for the third footer column.
 * - page.footer_fourthcolumn: Items for the fourth footer column.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see shaft_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div id = "wrapper"
        class = "clearfix">
    <div id = "top-bar">

        <div class = "container clearfix">

            <div id = "top-menu">

                {% if secondary_menu %}
                    {{ secondary_menu }}
                {% endif %}

            </div>

        </div>

    </div>

    <div id = "page">
        <div id = "header"
                class = "{{ secondary_menu ? 'with-secondary-menu' : 'without-secondary-menu' }}">
            <div class = "container clearfix">
                <div id = "logo">
                    {% if logo %}
                        <a href = "{{ front_page }}"
                                title = "{{ 'Home'|t }}"
                                rel = "home"
                                id = "logo">
                            <img src = "{{ logo }}"
                                    alt = "{{ 'Home'|t }}" />
                        </a>
                    {% endif %}
                </div>

                <div id = "primary-menu">

                    {% if main_menu %}
                        {{ main_menu }}
                    {% endif %}

                </div>
            </div>
            <div id = "content">
                <div class = "content-wrap">
                    <div class = "container clearfix">
                        <div class="postcontent nobottommargin clearfix">
                        <div class = "section clearfix">
                            {{ page.header }}
                        </div>
                        <!-- /.section, /#header-->

                        {% if messages %}
                            <div id = "messages">
                                <div class = "section clearfix">
                                    {{ messages }}
                                </div>
                            </div> <!-- /.section, /#messages -->
                        {% endif %}

                        {% if page.featured %}
                            <aside id = "featured">
                                <div class = "section clearfix">
                                    {{ page.featured }}
                                </div>
                            </aside> <!-- /.section, /#featured -->
                        {% endif %}

                        <div id = "main-wrapper"
                                class = "clearfix">
                            <div id = "main"
                                    class = "clearfix">
                                {{ breadcrumb }}

                                <main id = "content"
                                        class = "column"
                                        role = "main">
                                    <section class = "section">
                                        {% if page.highlighted %}
                                        <div id = "highlighted">{{ page.highlighted }}</div>{% endif %}
                                        <a id = "main-content"></a>
                                        {{ title_prefix }}
                                        {% if title %}
                                            <h1 class = "title"
                                                    id = "page-title">
                                                {{ title }}
                                            </h1>
                                        {% endif %}
                                        {{ title_suffix }}
                                        {% if tabs %}
                                            <nav class = "tabs"
                                                    role = "navigation">
                                                {{ tabs }}
                                            </nav>
                                        {% endif %}
                                        {{ page.help }}
                                        {% if action_links %}
                                            <ul class = "action-links">
                                                {{ action_links }}
                                            </ul>
                                        {% endif %}
                                        {{ page.content }}
                                        {{ feed_icons }}
                                    </section>
                                </main>
                                <!-- /.section, /#content -->
                            </div>
                        </div>
                        <!-- /#main, /#main-wrapper -->

                        {% if page.triptych_first or page.triptych_middle or page.triptych_last %}
                            <div id = "triptych-wrapper">
                                <aside id = "triptych"
                                        class = "clearfix">
                                    {{ page.triptych_first }}
                                    {{ page.triptych_middle }}
                                    {{ page.triptych_last }}
                                </aside>
                            </div><!-- /#triptych, /#triptych-wrapper -->
                        {% endif %}
                        </div>
                        <div class="sidebar col_last nobottommargin clearfix">

                            {% if page.sidebar_first %}
                                <div id = "sidebar-first"
                                        class = "column sidebar">
                                    <aside class = "section">
                                        {{ page.sidebar_first }}
                                    </aside>
                                </div><!-- /.section, /#sidebar-first -->
                            {% endif %}

                            {% if page.sidebar_second %}
                                <div id = "sidebar-second"
                                        class = "column sidebar">
                                    <aside class = "section">
                                        {{ page.sidebar_second }}
                                    </aside>
                                </div><!-- /.section, /#sidebar-second -->
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div id = "footer"
                    class = "footer-dark">
                <div class = "container clearfix">
                    <div class = "footer-widgets-wrap clearfix">
                        {% if page.footer_firstcolumn or page.footer_secondcolumn or page.footer_thirdcolumn or page.footer_fourthcolumn %}
                            <div class = "col_one_fourth">
                                {{ page.footer_firstcolumn }}
                            </div>
                            <div class = "col_one_fourth">
                                {{ page.footer_secondcolumn }}
                            </div>
                            <div class = "col_one_fourth">
                                {{ page.footer_thirdcolumn }}
                            </div>
                            <div class = "col_one_fourth">
                                {{ page.footer_fourthcolumn }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /.section, /#footer-wrapper -->
            <div class = "clear"></div>
            <div id = "copyrights"
                    class = "copyrights-dark">
                <div class = "container clearfix">
                    {% if page.footer %}
                        {{ page.footer }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- /#page, /#page-wrapper -->